/* .video-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 700px;
    position: relative;
  }
  
  .video-player {
    max-width: 80%;
    width: 100%;
    height: auto;
    margin-bottom: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-top: 56.25%;
  }
  
  .controls {
    display: flex;
    justify-content: center;
  }
  
  .controls button {
    margin: 0 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: #fff;
  }
  
  .controls button:hover {
    background-color: #0056b3;
  }
  
  @media screen and (max-width: 768px) {
    .video-container {
      margin-top: 0;
      margin-bottom: 0;
    }
  }
   */


   .video-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between; /* Adjusted */
    margin-top: 100px;
    height: 100%; /* Added */
  }
  
  .video-controls {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
  }
  
  .control-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 36px;
    color: #000000;
  }
  
  .video-player {
    max-width: 60%;
    width: 100%;
    height: auto;
  }
  
  @media screen and (max-width: 768px) {
    .video-player {
      max-width: 90%;
    }
  
    .control-button {
      font-size: 24px;
    }
  }
  