.team {
  text-align: center;
}

h2 {
  color: black;
  font-size: 40px;
  font-family: 'Courier New', Courier, monospace;
}

.team-members {
  display: flex;
  max-width: 50rem;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 20px;
}

.team-member {
  max-width: 200px;
}


.team-member h3 {
  margin: 10px 0;
  color: #333;
}

.team-member p {
  color: #666;
}
